



.banniere-video {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh;
  justify-items: center;
  align-items: center;

  overflow: hidden;

  video {
    width: 100%;
    display: none;
    z-index: 2;
  }

  video, img, h2 {
    grid-column: 1;
    grid-row: 1;
  }

  h2{
    color: $color-title-light;
    z-index: 30;
  }
//
//  img {
//    display: inline;
//  }
//
}

@media screen and (min-width: 500px) {
  .banniere-video {
    video {
      display: block;
    }

    img {
      display: none;
    }
  }

}
